html, body, #root {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow:hidden;
	background-color: #E2E2E2;
}

article {
	width: 100%;
	height: 100%;
	position:absolute;
	color: #E2E2E2;
	padding-top:13vh;
	padding-left:10vw;
}

.transitions-wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.fade-enter {
  opacity: 0;
	transition: opacity .5s;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
	opacity: 0;
}

.main {
	width: 100%;
	height: 100%;
	position: relative;
	overflow:hidden;
	display: flex;
	justify-content: center;
  align-items:center;
}

#textMessage  {
	position: absolute;
	z-index: 999;
	top: 2%;
	padding : 5vw;
	text-align: center;
	-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
	clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
	transform: translateY(-50px);
	opacity: 0;
	animation: titleAnimation 2s forwards;
}
@keyframes titleAnimation {
	0% {
		transform: translateY(-50px);
		opacity: 0;
		-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
		clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
	}
	100% {
			transform: translateY(0);
			opacity: 1;
			-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
			clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
	}
}

.Home {
	width: 100%;
	height: 100%;
	position:relative;
	display: flex;
  justify-content: center;
  align-items:center;
	overflow:hidden;
}

.home_container {
	width: 15vw;
	height: 15vw;
	position: absolute;	
	perspective: 1000px;
  perspective-origin: 50% 50%;
	z-index: 99;
}

.text_container{
	display: none;
	width: 50%;
	height: 50%;
	position: absolute;
	justify-content: center;
  align-items:center;
	color:#E2E2E2;
	background-color: #1b1d20;
}

.text_container:nth-child(1){
	top: 0%;
	left: 0%;
}
.text_container:nth-child(2){
	top: 0%;
	left: 50%;
}
.text_container:nth-child(3){
	top: 50%;
	left: 0%;
}
.text_container:nth-child(4){
	top: 50%;
	left: 50%;
}

@keyframes turn {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube {
  position: absolute;
	border: none;
  width: 100%;
  height: 100%;
  margin: auto;
  transform-style: preserve-3d;
  animation: turn 5s linear infinite;
}

.cube .square {
	background-color: #1b1d20;
  position: absolute;
	width: 100%;
	height: 100%;
  border: 1px solid #E2E2E2;
  text-align: center;
}

.square:nth-child(1) {
  transform: rotateY(0deg) translateZ(3.8vw);
}

.square:nth-child(2) {
  transform: rotateY(180deg) translateZ(3.8vw);
}

.square:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.8vw);
}

.square:nth-child(4) {
  transform: rotateY(90deg) translateZ(3.8vw);
}

.square:nth-child(5) {
  transform: rotateX(90deg) translateZ(3.8vw);
}

.square:nth-child(6) {
  transform: rotateX(-90deg) translateZ(3.8vw);
}

.home_container > div:nth-child(1) {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 0%;
	left: 0%;
}
.home_container > div:nth-child(2) {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 0%;
	left:50%;
}
.home_container > div:nth-child(3) {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left:0%;
}
.home_container > div:nth-child(4) {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left:50%;
}
/* .home_container > div:nth-child(1):hover{
	top: -30%;
	left: -30%;
}
.home_container > div:nth-child(2):hover{
	top: -30%;
	left: 80%;
}
.home_container > div:nth-child(3):hover{
	top: 80%;
	left: -30%;
}
.home_container > div:nth-child(4):hover{
	top: 80%;
	left: 80%;
} */

.About {
	background-color: #1b1d20;
}
.Career {
	background-color: #1b1d20;
}
.Project {
	background-color: #1b1d20;
}
.Skill {
	background-color: #1b1d20;
}

.Career *{
	list-style: none;
	margin: 0;
}
.Career > h1 {
	font-size: 3vw;
	opacity: 0;
}

.Career > h1 > ul {
	padding: 0;
	display:inline-block;
	overflow:hidden;
	width: 7vw;
	height: 5vw;
}
.Career > h1 > ul > li{
	padding: 0;
	text-align: center;
	vertical-align: bottom;
	color: #FFB2D9;
	list-style: none;
	font-size: 5vw;
	width: 100%;
	height:100%;
	animation: slideup 3s forwards;
}

@keyframes slideup {
	from {
		transform:translateY(0)
	}
	to{
		transform:translateY(-56vw);
	}
}

@keyframes slideRightFadeIn {
	from {
		opacity: 0;
		transform:translate(-10vw);
	}
	to{
		opacity: 1;
		transform:translate(0)
	}
}
@keyframes slideLeftFadeIn {
	from {
		opacity: 0;
		transform:translate(10vw);
	}
	to{
		opacity: 1;
		transform:translate(0);
	}
}

.Career > div > h2 {
	position:absolute;
	font-size: 2vw;
	color: #E2E2E2;
	transform: translate(-15vw);
}


.Career > div {
	position: relative;
	margin :5vw;
	margin-left: 15vw;
	opacity: 0;
}
.Career > div:before { 
	content:""; 
	position:absolute; 
	transform: translate(-2vw); 
	width: 2px; 
	height: 100%;
	background:#E2E2E2;
}


.Career ol { 
}
.Career li {
	font-size: 1.5vw; 
	color:#E2E2E2; 
	padding: 1vw;
	list-style-type : square
}

@media (max-width:920px){
	.navbar_menu ul li p {
		height: 7vh;
		writing-mode: vertical-rl;
		text-orientation: mixed;
		margin-top: 2.5vh;
		margin-bottom: 2vh;
	}

	.navbar_menu ul li {
		height: 15vh;
	}

	.navbar_menu{
		top: -75%;
	}
}

.navbar {
	width: 100%;
	height: 13vh;
	position: absolute;
	perspective: 1000px;
  perspective-origin: 50% 50%;
	z-index: 9999;
}

.navbar_cube {
  position: absolute;
	border: none;
  width: 5vh;
  height: 5vh;
  margin: auto;
  transform-style: preserve-3d;
  animation: turn 5s linear infinite;
	top: 5vh;
	left: 8vw;
}

.navbar_cube .navbar_square {
	background-color: #E2E2E2;
  position: absolute;
	width: 100%;
	height: 100%;
  border: 1px solid #1b1d20;
  text-align: center;
}

.navbar_square:nth-child(1) {
  transform: rotateY(0deg) translateZ(2.5vh);
}

.navbar_square:nth-child(2) {
  transform: rotateY(180deg) translateZ(2.5vh);
}

.navbar_square:nth-child(3) {
  transform: rotateY(-90deg) translateZ(2.5vh);
}

.navbar_square:nth-child(4) {
  transform: rotateY(90deg) translateZ(2.5vh);
}

.navbar_square:nth-child(5) {
  transform: rotateX(90deg) translateZ(2.5vh);
}

.navbar_square:nth-child(6) {
  transform: rotateX(-90deg) translateZ(2.5vh);
}

.navbar_menu {
	position: relative;
	left: 64%;
	top: -60%;
}

.navbar_menu ul {
	margin: 0;
	padding: 0;
  transform: translate(0, -100%);
}

.navbar_menu ul li {
	width: 8vw;
	height: 12vh;
	margin: 0 0 0 1vw;
	float: left;
	display: block;
  background: white;
  text-align: center;
	align-items: center;
	padding: .4vw;
  border-radius: 0px 0px 30px 30px;
	transition: all 1s;
}

.navbar_menu ul li p {
	margin-top: 4vh;
	font-size: 2vh;
}

.navbar_menu ul li svg {
  color: #000;
  background: #fff;
  padding: .8vh;
  border-radius: 50%;
  width: 2vh;
  height: 2vh;
  font-size: 1vh;
  transform: rotate(0deg);
}

.navbar_menu ul li:hover{
	transform: translate(0, 50%);
  background: rgba(255, 255, 255, 0.4);
}

.navbar_menu ul li:hover p{
	color: #E2E2E2;
}

.navbar_menu ul li:hover a {
	color: #000;
}
.navbar_menu ul li:hover svg {
	color: #fff;
  background: rgba(0, 0, 0, 0.36);
  transform: rotate(360deg);
  transition: all 1s;
}

.navbar_menu a {
	color: #fff;
  text-decoration: none;
}

.navbar_mailform_dimm{
	position: absolute;
	opacity: .8;
	background-color: black;
	width: 100vw;
	height: 100vh;
	display: none;
}

.navbar_mailform {
	position: absolute;
	width: 80vw;
	height: 80vh;
	left: 50%;
	top: 100%;
  transform: translate(-50%, 10%);
	display: none;
	color: white;
}

.navbar_mailform form {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	height: 70%;
	top: 20%;
	opacity: 0;
}

.navbar_mailform form div {
	padding: 2vw;
	width: 40%;
	height: 10vh;
}

.navbar_mailform h1 {
	font-size: 4vw;
	width: 100%;
	height: 10%;
	margin: 0;
	text-align: center;
	padding: 3vw;
}

.navbar_mailform form div input {
	width: 100%;
	height: 100%;
	background: inherit;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px white solid;
	color: white;
	font-size: 2.5vw;
	margin-top: 1vw;
}

.navbar_mailform form div label {
	width: 100%;
	float: left;
	font-size: 1vw;
}

.navbar_mailform form div:nth-child(4){
	position: absolute;
	top: 0;
	left: 50%;
	height: 30vh;
}

.navbar_mailform form div textarea {
	width: 100%;
	height: 100%;
	border: 2px white solid;
	background-color: inherit;
	font-size: 2.5vw;
	margin-top: 1vw;
	color: white;
}

.navbar_mailform form button {
	
}

.navbar_mailform:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2px;
  background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.navbar_mailform.in:after {
  animation: frame-enter 1.5s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}

/* motion */
@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
}

@keyframes frame-exit {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
}

@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}