html, body, #root {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow:hidden;
}
article {
	width: 100%;
	height: 100%;
	position:absolute;
	color: white;
}

.transitions-wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.fade-enter {
  opacity: 0;
	transition: opacity .5s;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
	opacity: 0;
}

.main {
	width: 100%;
	height: 100%;
	position: relative;
	overflow:hidden;
	display: flex;
	justify-content: center;
  align-items:center;
}

#textMessage  {
	position: absolute;
	z-index: 999;
	top: 2%;
	padding : 5vw;
	text-align: center;
}

.Home {
	width: 100%;
	height: 100%;
	position:relative;
	display: flex;
  justify-content: center;
  align-items:center;
	overflow:hidden;
}

.home_container {
	width: 15vw;
	height: 15vw;
	position: absolute;	
	perspective: 1000px;
  perspective-origin: 50% 50%;
	z-index: 99;
}

.text_container{
	display: none;
	width: 50%;
	height: 50%;
	position: absolute;
	justify-content: center;
  align-items:center;
	color:white;
	background-color: black;
}

.text_container:nth-child(1){
	top: 0%;
	left: 0%;
}
.text_container:nth-child(2){
	top: 0%;
	left: 50%;
}
.text_container:nth-child(3){
	top: 50%;
	left: 0%;
}
.text_container:nth-child(4){
	top: 50%;
	left: 50%;
}

@keyframes turn {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube {
  position: absolute;
	border: none;
  width: 100%;
  height: 100%;
  margin: auto;
  transform-style: preserve-3d;
  animation: turn 5s linear infinite;
}

.cube .square {
	background-color: black;
  position: absolute;
	width: 100%;
	height: 100%;
  border: 1px solid white;
  text-align: center;
}

.square:nth-child(1) {
  transform: rotateY(0deg) translateZ(3.8vw);
}

.square:nth-child(2) {
  transform: rotateY(180deg) translateZ(3.8vw);
}

.square:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.8vw);
}

.square:nth-child(4) {
  transform: rotateY(90deg) translateZ(3.8vw);
}

.square:nth-child(5) {
  transform: rotateX(90deg) translateZ(3.8vw);
}

.square:nth-child(6) {
  transform: rotateX(-90deg) translateZ(3.8vw);
}

.home_container > div:nth-child(1) {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 0%;
	left: 0%;
}
.home_container > div:nth-child(2) {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 0%;
	left:50%;
}
.home_container > div:nth-child(3) {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left:0%;
}
.home_container > div:nth-child(4) {
	width: 50%;
	height: 50%;
	position: absolute;
	top: 50%;
	left:50%;
}
.home_container > div:nth-child(1):hover{
	top: -30%;
	left: -30%;
}
.home_container > div:nth-child(2):hover{
	top: -30%;
	left: 80%;
}
.home_container > div:nth-child(3):hover{
	top: 80%;
	left: -30%;
}
.home_container > div:nth-child(4):hover{
	top: 80%;
	left: 80%;
}

.About {
	background-color: black;
}
.Career {
	background-color: black;
}
.Project {
	background-color: black;
}
.Skill {
	background-color: black;
}
.Career{
	padding: 5vw;
	padding-top: 20vh;	
}
.Career *{
	list-style: none;
	margin: 0;
}
.Career h1 {
	font-size: 4vw;
}

.Career h1 span {
	color: #FFB2D9;
}

.Career div h2 {
	position:absolute;
	font-size: 2vw;
	color: white;
	transform: translate(-15vw);
}


.Career div {
	position: relative;
	margin :5vw;
	margin-left: 15vw;
}
.Career div:before { 
	content:""; 
	position:absolute; 
	transform: translate(-2vw); 
	width: 2px; 
	height: 100%;
	background:white;
}


.Career ol { 
}
.Career li {
	font-size: 2vw; 
	color:white; 
	padding: 1vw;
	list-style-type : square
}

@keyframes fade {
	from {
		opacity:0;
	}

	to{
		opacity:1;
	}
}

.navbar {
	width: 100%;
	height: 14vh;
	position: absolute;
	overflow: hidden;
	perspective: 1000px;
  perspective-origin: 50% 50%;
	z-index: 99;
}

.navbar_cube {
  position: absolute;
	border: none;
  width: 4vw;
  height: 4vw;
  margin: auto;
  transform-style: preserve-3d;
  animation: turn 5s linear infinite;
	top: 4vh;
	left: 5vw;
}

.navbar_cube .navbar_square {
	background-color: white;
  position: absolute;
	width: 100%;
	height: 100%;
  border: 1px solid black;
  text-align: center;
}

.navbar_square:nth-child(1) {
  transform: rotateY(0deg) translateZ(2vw);
}

.navbar_square:nth-child(2) {
  transform: rotateY(180deg) translateZ(2vw);
}

.navbar_square:nth-child(3) {
  transform: rotateY(-90deg) translateZ(2vw);
}

.navbar_square:nth-child(4) {
  transform: rotateY(90deg) translateZ(2vw);
}

.navbar_square:nth-child(5) {
  transform: rotateX(90deg) translateZ(2vw);
}

.navbar_square:nth-child(6) {
  transform: rotateX(-90deg) translateZ(2vw);
}