@media all and (min-width:320px) {
	*{font-size: 1rem;}
}
@media all and (min-width:768px) {
	#wrap div{
		width:50%;
	}
	#wrap div:nth-child(5){width:100%;}
}
@media all and (min-width:1024px) {
	#wrap div{
		width:20%;
	}
	#wrap div:nth-child(5){width:20%;}
}

#root {overflow:hidden;}
html, body, #root {
	width: 100%;
	height: 100%;
	margin: 0;
}
article {
	width: 100%;
	height: 100%;
	position:absolute;
}

.Home {
	background-image: linear-gradient(135deg,#a6c0fe,#f68084);
	color: #fff;
	clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 85% 100%, 0% 100%);
}
.Home > canvas {
	width: 100%;
	height: 100%;
	position: absolute;
}
.Home > h1 {
	font-size: 4vw;
	position: relative;
	top:12vh;
	width: 50vw;
	animation: slideLeft 1.5s forwards;
  opacity: 0;
}
.Career {
	background-image: linear-gradient(135deg,#f68084,#a6c0fe);
	color:#fff;
	clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0 0);
}
.Career > canvas {
	width: 100%;
	height: 100%;
	position: absolute;
}
.Career > h1 {
	font-size: 4vw;
	position: relative;
	top:12vh;
	left:20vw;
	width: 50vw;
}
.Project {
	background-image: linear-gradient(135deg,#a6c0fe,#f68084);
	color: #fff;
	clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 85% 100%, 0% 100%);
}
.Project > canvas {
	width: 100%;
	height: 100%;
	position: absolute;
}
.Project > h1 {
	font-size: 4vw;
	position: relative;
	top:12vh;
	left:20vw;
	width: 50vw;
}
.Skill {
	background-image: linear-gradient(135deg,#f68084,#a6c0fe);
	color: #fff;
	clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0 0);
}
.Skill > h1 {
	font-size: 4vw;
	position: relative;
	top:12vh;
	left:20vw;
	width: 50vw;
}
.Skill > canvas {
	width: 100%;
	height: 100%;
	position: absolute;
}
.transitions-wrapper {
  position: relative;
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}
.slideRight-enter {
  z-index:1;
  opacity: 0.9;
  transform: translate3d(100%, 0,0);
}

.slideRight-enter-active {
  opacity: 1;
  transform: translate3d(0, 0,0);
  transition: all 500ms;
}

.slideRight-exit {
  opacity: 1;
  transform: translate3d(0, 0,0);
}

.slideRight-exit-active {
	opacity: 0.9;
  transition: all 900ms;
	transform: translate3d(-100%, 0,0);
}

@keyframes slideLeft {
	from {
		opacity: 0;
    transform: translateX(-200px);
  } 
  to {
		opacity: 1;
    transform: translateX(20vw);
  }
}

.topNavbar {
	position: fixed;
	height: 100%;
	width: 10%;
	left: 40%;
	top:90%;
	z-index: 99;
}

.topNavbar ul{
	position: absolute;
	width: 10%;
	height: 100%;
	left: 0%;
	display: flex;
}

.topNavbar ul li{
	height: 10%;
	position: relative;
	list-style: none;
	margin: 0 15px;
}

.topNavbar ul li a{
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	text-align: center;
	transition: .6s;
	box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.topNavbar ul li a:hover{
	transform: translate(0, -20%);
}

.topNavbar ul li:nth-child(1) a:hover{
	background-image: linear-gradient(135deg,#a6c0fe,#f68084);
}
.topNavbar ul li:nth-child(2) a:hover{
	background-image: linear-gradient(135deg,#f68084,#a6c0fe);
}
.topNavbar ul li:nth-child(3) a:hover{
	background-image: linear-gradient(135deg,#a6c0fe,#f68084);
}
.topNavbar ul li:nth-child(4) a:hover{
	background-image: linear-gradient(135deg,#f68084,#a6c0fe);
}